
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', cursive;
}

header, footer, h1 {
    font-family: 'Architects Daughter', cursive;
}



header, footer {
    background-color: rgb(11, 11, 110);
    padding: 1em;
    margin: 0em;
    text-align: center;
    justify-content: center;
    color: white;  
}

header h1, footer h1 {
    font-size: smaller;
}

main {
    text-align: center;   
    padding: 6% 0;  
}

#blueJ {
    color: rgb(226, 43, 43);
}

#jNight {
    color: rgb(255, 208, 0);
}

section {
    background-color: rgb(11, 11, 110);
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 1em; 
}


main h1 {
    color: black;    
}

main h1, main h2, main h3 {
    text-transform: uppercase;
    margin-bottom: 1em;
}


main h3 {
    font-size: medium;
}

.txtImageAlbum img {
    width: 40%;            
}

span img {
    width: 18%;
    margin-left: 0.5em;
}

.txtImageAlbum {
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: 1em;     
}

.texteAlbum {
    width: 75%;
    min-width: 50%;
    max-width: 100%;
    text-align: left;   
}

.texteAlbum p {
    color: white;
}

span {
    display: flex;
    justify-content: space-evenly;
}
